body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f9f5ec;
}

.container {
  display: flex;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.icon img {
  width: 100%;
  border-radius: 10px 0 0 10px;
  height: 100%;
}

.form {
  width: 55%;
  padding: 5px 25px;
  font-family: "Mulish", sans-serif;
}

.form h1 {
  font-family: "Fredoka One", cursive;
  text-align: center;
}


label {
  margin-bottom: 5px;
}

input {
  height: 15px;
  margin-bottom: 10px;
  padding: 16px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(44, 45, 54, 0.17);
  border-radius: 5px;
  -webkit-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  font-size: 16px;
  line-height: 24px;
}
.btn-group{
  padding-top: 30px;
}

.btn-group .btn{
  background-color: #229bd8;
  color: white;
}


.submenu2{
  position: absolute;
  left: 100%;
  top: 10px;
  display: none;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(44, 45, 54, 0.17);
  border-radius: 5px;
}

.dropdown-menu li:hover > .submenu2{
  display: block;
}

.submenu3{
  position: absolute;
  left: 100%;
  top: 40px;
  display: none;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(44, 45, 54, 0.17);
  border-radius: 5px;
}

.dropdown-menu li:hover > .submenu3{
  display: block;
}

.submenu4{
  position: absolute;
  left: 100%;
  top: 70px;
  display: none;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(44, 45, 54, 0.17);
  border-radius: 5px;
}

.dropdown-menu li:hover > .submenu4{
  display: block;
}

.submenu5{
  position: absolute;
  left: 100%;
  top: 105px;
  display: none;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(44, 45, 54, 0.17);
  border-radius: 5px;
}

.dropdown-menu li:hover > .submenu5{
  display: block;
}

.submenu6{
  position: absolute;
  left: 100%;
  top: 135px;
  display: none;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(44, 45, 54, 0.17);
  border-radius: 5px;
}

.dropdown-menu li:hover > .submenu6{
  display: block;
}

.button {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 2rem;
}

.button button {
  border: 0;
  width: 50%;
  height: 50px;
  cursor: pointer;
  padding: 15px 0;
  border-radius: 5px;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  color: white;
  background-color: #229bd8;
}